<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DCE6995B-2956-44F9-86B8-8771D9F5E878</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Q</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
