<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BA0F04C1-7BB1-4010-9712-DB70D9AD0DC5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ijacute</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
