<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BC259800-DB93-4FD0-8651-EEAA853B508B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecomb</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
