<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>653E27C6-2CB0-4A68-B528-4F94626DF734</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
