<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CA98AB71-59C8-4B73-8852-69121E4FAE4F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
