<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C3DF0452-FCF9-412F-9D1F-92334790AB24</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
