<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6A6FB735-6E62-45A9-A669-85EDC7A2FF0C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>21</integer>
    </dict>
  </dict>
</plist>
