<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3BE66DBB-A3D6-41A7-99A6-852FE95810CB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
