<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F8E1281C-B4E7-4153-A70F-332715B8EE63</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecomb</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
