<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3A069BA0-ACE8-42EB-BCE1-1F5E9EDD69CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
