<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>506570C4-E1AF-4C1A-9292-783EEF1E4AC4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
