<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>37B00034-2196-4AF8-9DEB-42D9400DBEE5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E6</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E7</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E8</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E9</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
