<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E1EC0F2-B041-42D7-8B4E-17ED1BA7DB9F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.boxLightArcDownAndLeft</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
