<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B43C8D3C-4FA8-4BE4-8CFA-F7229CA1AFF9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
