<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>028C416C-B4C8-49FE-A1E3-F172A96B0400</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
