<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3265CBD0-34BA-4730-A2F6-4F8BA9E2E230</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
