<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0C01978A-12BD-4DE3-9429-95DEE2107E8A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.ss01</key>
      <integer>10</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.o</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
