<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>93A40D83-D86B-4C1F-9DB2-FC9B03CFC681</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_acutecomb</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
