<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>61C50483-1337-4024-8835-53B66C8D0103</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ij</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
