<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DB3DABD9-D1DE-403E-B6AE-0F52BECBB485</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
