<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>97358665-21ED-4622-82EC-19EF4ADD3190</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_tildecomb</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
