<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A0BA2DBC-99D1-4B89-8CF4-61B6565E88CF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
