<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>599DC98B-83D1-4A5B-954E-10B49A2CDE58</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
