<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8A0B558C-3F9B-4CFE-9B17-DD52CEB96653</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.hookabovecomb</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
