<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D077B51D-1FAD-49EC-8D9A-C7AF00166EF8</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
