<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7D0E9305-3B7A-4AF2-AC91-9CA9266B9E6E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
