<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>18060786-DC1A-4594-A4CE-58F3863F060D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
