<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7206C986-5401-496A-BF55-F2513339CFE1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_gravecomb</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
