<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8AA32DD9-4B5A-4BA1-B208-E0E8C5A612FA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
