<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>03FD0E8E-203A-4FE5-BA8C-73C9D776C705</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
