<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>89001EF3-A849-4507-8604-0AF89E92ACE0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.asterisk</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
