<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>86C8E8EA-566A-4E5A-9FC2-3889F1B95236</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_acutecomb</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
