<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7E9986E3-98EA-4559-BF03-841599302DD3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhornacute</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
