<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C2D36C15-8EA1-4EA0-9FD3-B335380B4BEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
