<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F1575324-79A7-4712-952F-B12E9973EE98</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
