<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2ADD5CB2-7719-4E01-9A0C-84DDECF6958A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
