<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8D633D05-55CA-4010-B30D-02B80A9E93A6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
