<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>44E90DD9-5FEF-4107-84CD-D9A40BDBD13D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_tildecomb</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
