<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>08AE9992-4376-4684-A6E6-9B54C6BA7C38</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>16</integer>
    </dict>
  </dict>
</plist>
