<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Eng.loclNSM</key>
    <string>E_ng.loclN_S_M_.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohorn.alt</key>
    <string>O_horn.alt.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rightArrow</key>
    <string>rightA_rrow.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
  </dict>
</plist>
