<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>91B7BC64-9469-44F6-A86F-C2A0186F11CC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_hookabovecomb</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
