<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3A539056-F9B9-48B2-A1DA-338D9D3F1A4E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
