<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9708F120-A4BF-4A9B-BD7D-296BEF37B67F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.C</key>
      <integer>1</integer>
    </dict>
  </dict>
</plist>
