<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5AF90244-D6E1-491D-8CF4-1B655A3EB83C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_gravecomb</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
