<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F4709304-11E2-4D95-A0EC-97A3D24368A9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.yhook</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
