{
displayStrings = (
"HHHHHHHHH
OOOOOOOOO
HHHOOOHOHO
hhhhhhhhh
ooooooooo
hhhooohoho

HHHAHHHAAAHAH
OOOAOOOAAAOAO

HHHKHHHKKKHKH
OOOKOOOKKKOKO

HHHVHHHVVVHVH
OOOVOOOVVVOVO

HHHWHHHWWWHWH
OOOWOOOWWWOWO

HHHXHHHXXXHXH
OOOXOOOXXXOXO

HHHYHHHYYYHYH
OOOYOOOYYYOYO

HHHPHHHPPPHPH
OOOPOOOPPPOPO

HHHBHHHBBBHBH
OOOBOOOBBBOBO

HHHDHHHDDDHDH
OOODOOODDDODO

HHHEHHHEEEHEH
OOOEOOOEEEOEO

HHHFHHHFFFHFH
OOOFOOOFFFOFO

HHHKHHHKKKHKH
OOOKOOOKKKHKH

HHHLHHHLLLHLH
OOOLOOOLLLOLO

HHHRHHHRRRHRH
OOOROOORRRORO

HHHJHHHJJJHJH
OOOJOOOJJOOO

HHHUHHHUUUHHHUH
OOOUOOOUUUHHHUH

HHHIHHHIIIHHIH
OOOIOOOIIIOOIO HIHERE
HHHTHHHTTTHHTH HITHER THERE
OOOTOOOTTTOOTO

HHHLHHHLLLHHLH HELIUM
OOOLOOOLLLOOLO

HHHOHHHOOOHHHOH

HHHCHHHCCCHHHCH
OOOCOOOCCCOOOCO

HHHDHHHDDDHHHDH
OOODOOODDDOOODO

HHHGHHHGGGHHHGH
OOOGOOOGGGOOOGO

HHHQHHHQQQHHHQH
OOOQOOOQQQOOOQO

HHHZHHHZZZHHHZH
OOOZOOOZZZOOOZO
HHHTHHHTTTHHHTH
OOOTOOOTTTOOOTOIL


HHHSHHHSSSHHHSH
OOOSOOOSSSOOOSO


h
nnnonnnooono 
ooonooonnnon
nnnannnaaanan bdabdabdabdabd
oooaoooaaaoao
nnnunnnuuunun abdabdabdabd
ooouooouuuouo

nnnbnnnbbbnbn
ooobooobbbobo
nnndnnndddndn
ooodooodddodo

nnncnnncccncn cbdcbdcbdcbd
ooocooocccoco
nnnennneeenen bdebdebdebd
oooeoooeeeoeo

nnnfnnnfffnfn
ooofooofffofo
nnngnnngggngn bdgbdgbdgbdgbd
ooogooogggogo  pqgpqgpqgpqgpq g
nnninnniiinin
oooioooiiioio
nnnjnnnjjjnjn
ooojooojjjojo
nnnlnnnlllnln
ooolooolllolo
nnnrnnnrrrnrn nrnrnrnrn bdrbdrbdrbdrbd
ooorooorrroro ororororo

nnnsnnnsssnsn nsnsnsnsn bdsbdsbdsbdsbd
ooosooosssoso ososososo

nnntnnntttntn ntntntntn bdtbdtbdtbdtbd
oootoootttoto ototototo


nnnknnnkkknkn bdkbdkbdkbdkbd
oookoookkkoko

nnnvnnnvvvnvn nvnvnvnvnv bdvbdvbdvbdvbd
ooovooovvvovo ovovovovo   
 
nnnwnnnwwwnwn bdwbdwbdwbdwbd
ooowooowwwowo

nnnxnnnxxxnxn bdxbdxbdxbdxbd
oooxoooxxxocxo

nnnynnnyyynyn bdybdybdybdybd
oooyoooyyyoyo

nnnznnnzzznzn bdzbdzbdzbdzbd
ooozooozzzozoz ",
"GONIOBRANCHUS RETICULATUS IS A SMALL, COLOURFUL SPECIES OF SEA SLUG IN THE FAMILY CHROMODORIDIDAE. IT IS FOUND IN THE WESTERN INDO-PACIFIC AND ORIGINALLY DESCRIBED FROM TONGATAPU, TONGA. IT HAS A WHITE MANTLE COVERED IN A REDDISH RETICULATE PATTERN, WITH YELLOW EDGING ON THE FOOT AND APPENDAGES. SEVERAL SIMILAR SPECIES OCCUR WITHIN THE G. TINCTORIUS COLOUR GROUP, FORMING A COMPLEX OF AT LEAST SEVEN SPECIES, AND THE TRUE G. RETICULATUS IS PROBABLY NOT THE SPECIES MOST COMMONLY IDENTIFIED UNDER THAT NAME. THE LENGTH OF THE BODY IS REPORTED TO REACH 100 MILLIMETRES (3.9 IN), BUT THE ORIGINAL DESCRIPTION IS OF AN ANIMAL 27 TO 34 MILLIMETRES (1.1 TO 1.3 IN) IN LENGTH. LIKE OTHER HERMAPHRODITIC GASTROPOD MOLLUSCS, THE SPECIES POSSESSES BOTH MALE AND FEMALE ORGANS, AND CAN SHED AND RAPIDLY REGENERATE THE EXTERNAL PORTION OF THE PENIS AFTER MATING. THIS G. RETICULATUS SEA SLUG WAS PHOTOGRAPHED OFF THE COAST OF ANILAO IN THE PHILIPPINES.

goniobranchus reticulatus is a small, colourful species of sea slug in the family chromodorididae. it is found in the western indo-pacific and originally described from tongatapu, tonga. it has a white mantle covered in a reddish reticulate pattern, with yellow edging on the foot and appendages. several similar species occur within the g. tinctorius colour group, forming a complex of at least seven species, and the true g. reticulatus is probably not the species most commonly identified under that name. the length of the body is reported to reach 100 millimetres (3.9 in), but the original description is of an animal 27 to 34 millimetres (1.1 to 1.3 in) in length. like other hermaphroditic gastropod molluscs, the species possesses both male and female organs, and can shed and rapidly regenerate the external portion of the penis after mating. this g. reticulatus sea slug was photographed off the coast of anilao in the philippines.",
ABCDEFGHIJKLMNOPQRSTUVWXYZ,
" ",
"HHH,HHH-HHH.HHH
OOO,OOO-OOO.OOO",
"
HHH!HHH#HHH$HHH%HHH&HHH'HHH(HHH)HHH*HHH+HHH,HHH-HHH.HHH//HHH
bnd!bnd#bnd$bnd%bnd&bnd'bnd(bnd)bnd*bnd+bnd,bnd-bnd.bnd//bnd
OOO!OOO#OOO$OOO%OOO&OOO'OOO(OOO)OOO*OOO+OOO,OOO-OOO.OOO//OOO
ooo!ooo#ooo$ooo%ooo&ooo'ooo(ooo)ooo*ooo+ooo,ooo-ooo.ooo//ooo

HHH0HHH1HHH2HHH3HHH4HHH5HHH6HHH7HHH8HHH9HHH:HHH;HHH
bnd0bnd1bnd2bnd3bnd4bnd5bnd6bnd7bnd8bnd9bnd:bnd;bnd
OOO0OOO1OOO2OOO3OOO4OOO5OOO6OOO7OOO8OOO9OOO:OOO;OOO
ooo0ooo1ooo2ooo3ooo4ooo5ooo6ooo7ooo8ooo9ooo:ooo;ooo



HHH<HHH=HHH>HHH?HHH@HHH[HHH/backslash HHH]HHH^HHH_HH-H{HHH|HHH¦HHH
bnd<bnd=bnd>bnd?bnd@bnd[bnd/backslash bnd]bnd^bnd_bnd{bnd|bnd¦bnd
OOO<OOO=OOO>OOO?OOO@OOO[OOO/backslash OOO]OOO^OOO_OOO{OOO|OOO¦OOO
ooo<ooo=ooo>ooo?ooo@ooo[ooo/backslash ooo]ooo^ooo_ooo{ooo|ooo¦ooo

HHH}HHH~HHH\"HHH‘HHH’HHH“HHH”HHH,
bnd}bnd~bnd\"bnd‘bnd’bnd“bnd”bnd
OOO}OOO~OOO\"OOO‘OOO’OOO“OOO”OOO
ooo}ooo~ooo\"ooo‘ooo’ooo“ooo”ooo


"
);
}
