{
displayStrings = (
"
__Punctuation:
nnoonng!gnnoonn
nnoonng¡gnnoonn
nnoonng?gnnoonn
nnoonng¿gnnoonn
nnoonng#gnnoonn
nnoonng*gnnoonn
nnoonng'gnnoonn
nnoonng(gnnoonn
nnoonng)gnnoonn
nnoonng[gnnoonn
nnoonng]gnnoonn
nnoonng}gnnoonn
nnoonng{gnnoonn
nnoonng,gnnoonn
nnoonng.gnnoonn
nnoonng:gnnoonn
nnoonng;gnnoonn
nnoonng-gnnoonn
nnoonng_gnnoonn
nnoonng//gnnoonn
nnoonng/backslash gnnoonn
nnoonng‘gnnoonn
nnoonng’gnnoonn
nnoonng…gnnoonn
nnoonng·gnnoonn
nnoonng•gnnoonn
nnoonng‹gnnoonn
nnoonng›gnnoonn

__Symbol:
nnoonng$gnnoonn
nnoonng%gnnoonn
nnoonng&gnnoonn
nnoonng@gnnoonn
nnoonng^gnnoonn
nnoonng~gnnoonn
nnoonng©gnnoonn
nnoonng™gnnoonn
nnoonng₫gnnoonn
nnoonng¢gnnoonn
nnoonng€gnnoonn
nnoonng£gnnoonn
nnoonng¥gnnoonn
nnoonng¤gnnoonn

__Number:
nnoonng0gnnoonn
nnoonng1gnnoonn
nnoonng2gnnoonn
nnoonng3gnnoonn
nnoonng4gnnoonn
nnoonng5gnnoonn
nnoonng6gnnoonn
nnoonng7gnnoonn
nnoonng8gnnoonn
nnoonng9gnnoonn
nnoonng¹gnnoonn
nnoonng²gnnoonn
nnoonng³gnnoonn
nnoonng⁴gnnoonn


__Letter:
nnoonngagnnoonn
nnoonngbgnnoonn
nnoonngcgnnoonn
nnoonngdgnnoonn
nnoonngegnnoonn
nnoonngfgnnoonn
nnoonngggnnoonn
nnoonnghgnnoonn
nnoonngignnoonn
nnoonngjgnnoonn
nnoonngkgnnoonn
nnoonnglgnnoonn
nnoonngmgnnoonn
nnoonngngnnoonn
nnoonngognnoonn
nnoonngrgnnoonn
nnoonngsgnnoonn
nnoonngtgnnoonn
nnoonngugnnoonn
nnoonngvgnnoonn
nnoonngwgnnoonn
nnoonngxgnnoonn
nnoonngygnnoonn
nnoonngzgnnoonn
nnoonng/g.ss01 gnnoonn
nnoonngągnnoonn
nnoonngɓgnnoonn
nnoonngďgnnoonn
nnoonngđgnnoonn
nnoonngɗgnnoonn
nnoonngęgnnoonn
nnoonngðgnnoonn
nnoonngŋgnnoonn
nnoonngħgnnoonn
nnoonngıgnnoonn
nnoonngȷgnnoonn
nnoonngƙgnnoonn
nnoonngĸgnnoonn
nnoonngľgnnoonn
nnoonngłgnnoonn
nnoonngŉgnnoonn
nnoonngøgnnoonn
nnoonngơgnnoonn
nnoonngßgnnoonn
nnoonngſgnnoonn
nnoonngəgnnoonn
nnoonngťgnnoonn
nnoonngþgnnoonn
nnoonngųgnnoonn
nnoonngưgnnoonn
nnoonngƴgnnoonn
nnoonng/ohorn.alt gnnoonn
nnoonng/uhorn.alt gnnoonn



"
);
}
