{
displayStrings = (
"nnnfnnnfffnfn
ooofooofffofo bdfbdfbdfbdfbd
nnninnniiinin
oooioooiiioir bdibdibdibdibd

nnnjnnnjjjnjinh
ooojooojjjojo bdjbdjbdjbdjbd

nnnlnnnlllnln
ooolooolllolo bdlbdlbdlbdlbd

nnntnnntttntn
oootoootttoto bdtbdtbdtbdtbd


Interstate 205 (I-205) is an Interstate Highway in the Portland metropolitan area of Oregon and Washington, United States. The north–south freeway is 37 miles (60 km) long and serves as a bypass route for I-5 east of Portland. Such a highway was conceived in a 1943 plan for the area, and in the 1950s was included in preliminary plans for the Interstate Highway System. Construction began in 1967 with work on the Abernethy Bridge over the Willamette River, which opened in 1970. By 1972, I-205 was extended west to Tualatin and north to Gladstone, but the Portland section was delayed by political opposition until 1977. The Glenn L. Jackson Memorial Bridge (pictured), spanning the Columbia River between Portland and Vancouver, opened on December 15, 1982. The remaining 6.6 miles (10.6 km) in Portland opened on March 8, 1983. From Oregon City to Vancouver, the corridor is paralleled by a multi-use bicycle and pedestrian trail, as well as portions of the MAX Light Rail system.


INTERSTATE 205 (I-205) IS AN INTERSTATE HIGHWAY IN THE PORTLAND METROPOLITAN AREA OF OREGON AND WASHINGTON, UNITED STATES. THE NORTH–SOUTH FREEWAY IS 37 MILES (60 KM) LONG AND SERVES AS A BYPASS ROUTE FOR I-5 EAST OF PORTLAND. SUCH A HIGHWAY WAS CONCEIVED IN A 1943 PLAN FOR THE AREA, AND IN THE 1950S WAS INCLUDED IN PRELIMINARY PLANS FOR THE INTERSTATE HIGHWAY SYSTEM. CONSTRUCTION BEGAN IN 1967 WITH WORK ON THE ABERNETHY BRIDGE OVER THE WILLAMETTE RIVER, WHICH OPENED IN 1970. BY 1972, I-205 WAS EXTENDED WEST TO TUALATIN AND NORTH TO GLADSTONE, BUT THE PORTLAND SECTION WAS DELAYED BY POLITICAL OPPOSITION UNTIL 1977. THE GLENN L. JACKSON MEMORIAL BRIDGE (PICTURED), SPANNING THE COLUMBIA RIVER BETWEEN PORTLAND AND VANCOUVER, OPENED ON DECEMBER 15, 1982. THE REMAINING 6.6 MILES (10.6 KM) IN PORTLAND OPENED ON MARCH 8, 1983. FROM OREGON CITY TO VANCOUVER, THE CORRIDOR IS PARALLELED BY A MULTI-USE BICYCLE AND PEDESTRIAN TRAIL, AS WELL AS PORTIONS OF THE MAX LIGHT RAIL SYSTEM."
);
}
