<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>713DF074-35E6-45F8-A93A-CC31300C8EC6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
