<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>11 Nov 24, 09:39</string>
      <string>glyphs.11 N_ov 24, 09_39</string>
    </array>
    <array>
      <string>{599.99, 0}</string>
      <string>glyphs.{599.99, 0}</string>
    </array>
    <array>
      <string>{600, 0}</string>
      <string>glyphs.{600, 0}</string>
    </array>
    <array>
      <string>18 Mar 24, 20:54</string>
      <string>glyphs.18 M_ar 24, 20_54</string>
    </array>
    <array>
      <string>19 Sep 24, 21:01</string>
      <string>glyphs.19 S_ep 24, 21_01</string>
    </array>
    <array>
      <string>27 Nov 24, 14:07</string>
      <string>glyphs.27 N_ov 24, 14_07</string>
    </array>
    <array>
      <string>4 Jun 24, 01:01</string>
      <string>glyphs.4 J_un 24, 01_01</string>
    </array>
    <array>
      <string>9 Jun 24, 22:52</string>
      <string>glyphs.9 J_un 24, 22_52</string>
    </array>
    <array>
      <string>3 Jun 24, 13:02</string>
      <string>glyphs.3 J_un 24, 13_02</string>
    </array>
    <array>
      <string>18 Mar 24, 19:15</string>
      <string>glyphs.18 M_ar 24, 19_15</string>
    </array>
    <array>
      <string>12 Oct 24, 23:35</string>
      <string>glyphs.12 O_ct 24, 23_35</string>
    </array>
    <array>
      <string>27 Nov 24, 13:46</string>
      <string>glyphs.27 N_ov 24, 13_46</string>
    </array>
    <array>
      <string>27 Nov 24, 13:46.background</string>
      <string>glyphs.27 N_ov 24, 13_46.background</string>
    </array>
    <array>
      <string>13 Oct 24, 17:07</string>
      <string>glyphs.13 O_ct 24, 17_07</string>
    </array>
    <array>
      <string>6 Jun 24, 16:12</string>
      <string>glyphs.6 J_un 24, 16_12</string>
    </array>
    <array>
      <string>6 Jun 24, 16:12.background</string>
      <string>glyphs.6 J_un 24, 16_12.background</string>
    </array>
    <array>
      <string>13 Oct 24, 21:57</string>
      <string>glyphs.13 O_ct 24, 21_57</string>
    </array>
    <array>
      <string>13 Oct 24, 22:00</string>
      <string>glyphs.13 O_ct 24, 22_00</string>
    </array>
    <array>
      <string>13 Oct 24, 22:23</string>
      <string>glyphs.13 O_ct 24, 22_23</string>
    </array>
    <array>
      <string>18 Mar 24, 19:57</string>
      <string>glyphs.18 M_ar 24, 19_57</string>
    </array>
    <array>
      <string>18 Mar 24, 19:57.background</string>
      <string>glyphs.18 M_ar 24, 19_57.background</string>
    </array>
    <array>
      <string>15 Mar 24, 18:25</string>
      <string>glyphs.15 M_ar 24, 18_25</string>
    </array>
    <array>
      <string>15 Mar 24, 18:26</string>
      <string>glyphs.15 M_ar 24, 18_26</string>
    </array>
    <array>
      <string>9 Jun 24, 23:38</string>
      <string>glyphs.9 J_un 24, 23_38</string>
    </array>
    <array>
      <string>9 Jun 24, 23:38.background</string>
      <string>glyphs.9 J_un 24, 23_38.background</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:38</string>
      <string>glyphs.M_ar 19, 25 at 19_38</string>
    </array>
    <array>
      <string>18 Mar 24, 20:32</string>
      <string>glyphs.18 M_ar 24, 20_32</string>
    </array>
    <array>
      <string>15 Mar 24, 19:13</string>
      <string>glyphs.15 M_ar 24, 19_13</string>
    </array>
    <array>
      <string>15 Mar 24, 19:13.background</string>
      <string>glyphs.15 M_ar 24, 19_13.background</string>
    </array>
    <array>
      <string>4 Jun 24, 01:55</string>
      <string>glyphs.4 J_un 24, 01_55</string>
    </array>
    <array>
      <string>11 Jun 24, 11:19</string>
      <string>glyphs.11 J_un 24, 11_19</string>
    </array>
    <array>
      <string>9 Jun 24, 21:03</string>
      <string>glyphs.9 J_un 24, 21_03</string>
    </array>
    <array>
      <string>9 Jun 24, 21:03.background</string>
      <string>glyphs.9 J_un 24, 21_03.background</string>
    </array>
    <array>
      <string>9 Jun 24, 21:12</string>
      <string>glyphs.9 J_un 24, 21_12</string>
    </array>
    <array>
      <string>9 Jun 24, 21:12.background</string>
      <string>glyphs.9 J_un 24, 21_12.background</string>
    </array>
    <array>
      <string>9 Jun 24, 22:44</string>
      <string>glyphs.9 J_un 24, 22_44</string>
    </array>
    <array>
      <string>9 Jun 24, 23:11</string>
      <string>glyphs.9 J_un 24, 23_11</string>
    </array>
    <array>
      <string>27 Nov 24, 14:17</string>
      <string>glyphs.27 N_ov 24, 14_17</string>
    </array>
    <array>
      <string>27 Nov 24, 14:17.background</string>
      <string>glyphs.27 N_ov 24, 14_17.background</string>
    </array>
    <array>
      <string>11 Dec 24, 12:16</string>
      <string>glyphs.11 D_ec 24, 12_16</string>
    </array>
    <array>
      <string>18 Mar 24, 20:21</string>
      <string>glyphs.18 M_ar 24, 20_21</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:44</string>
      <string>glyphs.M_ar 19, 25 at 19_44</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:20</string>
      <string>glyphs.M_ar 19, 25 at 20_20</string>
    </array>
    <array>
      <string>Mar 12, 25 at 10:54</string>
      <string>glyphs.M_ar 12, 25 at 10_54</string>
    </array>
    <array>
      <string>Mar 12, 25 at 10:57</string>
      <string>glyphs.M_ar 12, 25 at 10_57</string>
    </array>
    <array>
      <string>May 7, 25 at 06:34</string>
      <string>glyphs.M_ay 7, 25 at 06_34</string>
    </array>
    <array>
      <string>29 Nov 24, 15:21</string>
      <string>glyphs.29 N_ov 24, 15_21</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:48</string>
      <string>glyphs.M_ar 19, 25 at 20_48</string>
    </array>
    <array>
      <string>Mar 19, 25 at 18:54</string>
      <string>glyphs.M_ar 19, 25 at 18_54</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:21</string>
      <string>glyphs.M_ar 19, 25 at 19_21</string>
    </array>
    <array>
      <string>Jan 27, 25 at 18:18</string>
      <string>glyphs.J_an 27, 25 at 18_18</string>
    </array>
    <array>
      <string>Mar 19, 25 at 18:40</string>
      <string>glyphs.M_ar 19, 25 at 18_40</string>
    </array>
    <array>
      <string>5 Dec 24, 14:01</string>
      <string>glyphs.5 D_ec 24, 14_01</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:29</string>
      <string>glyphs.M_ar 19, 25 at 19_29</string>
    </array>
    <array>
      <string>27 Nov 24, 15:11</string>
      <string>glyphs.27 N_ov 24, 15_11</string>
    </array>
    <array>
      <string>30 Nov 24, 09:01</string>
      <string>glyphs.30 N_ov 24, 09_01</string>
    </array>
    <array>
      <string>30 Nov 24, 09:01.background</string>
      <string>glyphs.30 N_ov 24, 09_01.background</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:28</string>
      <string>glyphs.M_ar 19, 25 at 20_28</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:07</string>
      <string>glyphs.M_ar 19, 25 at 19_07</string>
    </array>
    <array>
      <string>Feb 24, 25 at 17:34</string>
      <string>glyphs.F_eb 24, 25 at 17_34</string>
    </array>
    <array>
      <string>Jan 21, 25 at 15:20</string>
      <string>glyphs.J_an 21, 25 at 15_20</string>
    </array>
    <array>
      <string>Jan 22, 25 at 19:33</string>
      <string>glyphs.J_an 22, 25 at 19_33</string>
    </array>
    <array>
      <string>Feb 24, 25 at 17:37</string>
      <string>glyphs.F_eb 24, 25 at 17_37</string>
    </array>
    <array>
      <string>Feb 24, 25 at 18:02</string>
      <string>glyphs.F_eb 24, 25 at 18_02</string>
    </array>
    <array>
      <string>Mar 20, 25 at 21:35</string>
      <string>glyphs.M_ar 20, 25 at 21_35</string>
    </array>
  </array>
</plist>
