<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>89ADF830-69F9-4DD4-A074-72E8933902D4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn.alt</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
