<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DDDA6C22-D3EF-4EAE-BF72-4C2D6B307E4D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
