<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EC4FBC81-B16D-4D8F-BC5E-6FFC3F1E2FAD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
