<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>6BF1B9B5-635C-4735-B687-D906DAA890E7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.section</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
