<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A67D1292-1529-4B91-BCA6-52B354FB68F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_acutecomb</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
