<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2502268F-3EF1-40BE-8996-D6E71D2B46AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.twosuperior</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
