<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D711D3DC-55CD-49CD-A666-2CC51BCB2206</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.M</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
