<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BB77DB23-09EF-4CAA-B917-3EBC3494B0FA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn.alt</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
