<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>07E645B1-3436-471A-AFEF-4446E391C3D4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yhook</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
