<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>87632CDB-47A5-41D3-A5F5-92821C265FEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
