<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>088A93BE-C635-46F7-A1D1-6386DD688B55</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn.alt</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
