<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>94623744-9159-4FC8-8F5F-3A36D095B9D2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
