<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>35806977-FA86-4CD8-B624-F25581B6D3AC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_hookabovecomb</key>
      <integer>18</integer>
    </dict>
  </dict>
</plist>
