<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>55A57A51-E55F-44CF-BBF8-A4849CA52771</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn.alt</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
