<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>C9FB1B0C-A876-4DE7-BCE8-6D16A0682439</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn.alt</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
