<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BF791828-8E6E-4D1C-A233-A41E2B36B2F4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
