<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>09195C6A-8C6A-46F6-873F-83FA5E13AD51</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dhook</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
