<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni21E6</key>
    <string>uni21E_6.glif</string>
    <key>uni21E7</key>
    <string>uni21E_7.glif</string>
    <key>uni21E8</key>
    <string>uni21E_8.glif</string>
    <key>uni21E9</key>
    <string>uni21E_9.glif</string>
  </dict>
</plist>
