<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2B02E105-220F-447D-8C73-DD029A9ADABD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uhorn</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
