<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DB33CE79-3137-4BCF-A699-690E603391A2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
