<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A094C820-54EA-4410-AC70-A8B9E5CCBC81</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
