(
.notdef,
NULL,
CR,
space,
nbspace,
dottedCircle,
exclam,
numbersign,
dollar,
percent,
ampersand,
quotesingle,
parenleft,
parenright,
asterisk,
plus,
comma,
hyphen,
period,
slash,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
colon,
semicolon,
less,
equal,
greater,
question,
at,
A,
B,
C,
D,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
P,
Q,
R,
S,
T,
U,
V,
W,
X,
Y,
Z,
bracketleft,
backslash,
bracketright,
asciicircum,
underscore,
a,
b,
c,
d,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
p,
q,
r,
s,
t,
u,
v,
w,
x,
y,
z,
braceleft,
bar,
brokenbar,
braceright,
asciitilde,
quotedbl,
copyright,
registered,
trademark,
minus,
plusminus,
multiply,
divide,
divisionslash,
fraction,
quoteleft,
quoteright,
quotedblleft,
quotedblright,
rightArrow,
leftArrow,
upArrow,
downArrow,
rightwardsDoubleArrow,
proportion,
lessequal,
greaterequal,
g.ss01,
ellipsis,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
filledRect,
upBlackTriangle,
rightBlackPointer,
downBlackTriangle,
leftBlackPointer,
blackDiamond,
fisheye,
lozenge,
whiteCircle,
blackCircle,
inverseWhiteCircle,
boxLightHorizontal,
boxHeavyHorizontal,
boxLightVertical,
boxHeavyVertical,
boxLightTripleDashHorizontal,
boxHeavyTripleDashHorizontal,
boxLightTripleDashVertical,
boxHeavyTripleDashVertical,
boxLightQuadrupleDashHorizontal,
boxHeavyQuadrupleDashHorizontal,
boxLightQuadrupleDashVertical,
boxHeavyQuadrupleDashVertical,
boxLightDownAndRight,
boxDownLightAndRightHeavy,
boxDownHeavyAndRightLight,
boxHeavyDownAndRight,
boxLightDownAndLeft,
boxDownLightAndLeftHeavy,
boxDownHeavyAndLeftLight,
boxHeavyDownAndLeft,
boxLightUpAndRight,
boxUpLightAndRightHeavy,
boxUpHeavyAndRightLight,
boxHeavyUpAndRight,
boxLightUpAndLeft,
boxUpLightAndLeftHeavy,
boxUpHeavyAndLeftLight,
boxHeavyUpAndLeft,
boxLightVerticalAndRight,
boxVerticalLightAndRightHeavy,
boxUpHeavyAndRightDownLight,
boxDownHeavyAndRightUpLight,
boxVerticalHeavyAndRightLight,
boxDownLightAndRightUpHeavy,
boxUpLightAndRightDownHeavy,
boxHeavyVerticalAndRight,
boxLightVerticalAndLeft,
boxVerticalLightAndLeftHeavy,
boxUpHeavyAndLeftDownLight,
boxDownHeavyAndLeftUpLight,
boxVerticalHeavyAndLeftLight,
boxDownLightAndLeftUpHeavy,
boxUpLightAndLeftDownHeavy,
boxHeavyVerticalAndLeft,
boxLightDownAndHorizontal,
boxLeftHeavyAndRightDownLight,
boxRightHeavyAndLeftDownLight,
boxDownLightAndHorizontalHeavy,
boxDownHeavyAndHorizontalLight,
boxRightLightAndLeftDownHeavy,
boxLeftLightAndRightDownHeavy,
boxHeavyDownAndHorizontal,
boxLightUpAndHorizontal,
boxLeftHeavyAndRightUpLight,
boxRightHeavyAndLeftUpLight,
boxUpLightAndHorizontalHeavy,
boxUpHeavyAndHorizontalLight,
boxRightLightAndLeftUpHeavy,
boxLeftLightAndRightUpHeavy,
boxHeavyUpAndHorizontal,
boxLightVerticalAndHorizontal,
boxLeftHeavyAndRightVerticalLight,
boxRightHeavyAndLeftVerticalLight,
boxVerticalLightAndHorizontalHeavy,
boxUpHeavyAndDownHorizontalLight,
boxDownHeavyAndUpHorizontalLight,
boxVerticalHeavyAndHorizontalLight,
boxLeftUpHeavyAndRightDownLight,
boxRightUpHeavyAndLeftDownLight,
boxLeftDownHeavyAndRightUpLight,
boxRightDownHeavyAndLeftUpLight,
boxDownLightAndUpHorizontalHeavy,
boxUpLightAndDownHorizontalHeavy,
boxRightLightAndLeftVerticalHeavy,
boxLeftLightAndRightVerticalHeavy,
boxHeavyVerticalAndHorizontal,
boxLightDoubleDashHorizontal,
boxHeavyDoubleDashHorizontal,
boxLightDoubleDashVertical,
boxHeavyDoubleDashVertical,
boxDoubleHorizontal,
boxDoubleVertical,
boxDownSingleAndRightDouble,
boxDownDoubleAndRightSingle,
boxDoubleDownAndRight,
boxDownSingleAndLeftDouble,
boxDownDoubleAndLeftSingle,
boxDoubleDownAndLeft,
boxUpSingleAndRightDouble,
boxUpDoubleAndRightSingle,
boxDoubleUpAndRight,
boxUpSingleAndLeftDouble,
boxUpDoubleAndLeftSingle,
boxDoubleUpAndLeft,
boxVerticalSingleAndRightDouble,
boxVerticalDoubleAndRightSingle,
boxDoubleVerticalAndRight,
boxVerticalSingleAndLeftDouble,
boxVerticalDoubleAndLeftSingle,
boxDoubleVerticalAndLeft,
boxDownSingleAndHorizontalDouble,
boxDownDoubleAndHorizontalSingle,
boxDoubleDownAndHorizontal,
boxUpSingleAndHorizontalDouble,
boxUpDoubleAndHorizontalSingle,
boxDoubleUpAndHorizontal,
boxVerticalSingleAndHorizontalDouble,
boxVerticalDoubleAndHorizontalSingle,
boxDoubleVerticalAndHorizontal,
boxLightArcDownAndRight,
boxLightArcDownAndLeft,
boxLightArcUpAndLeft,
boxLightArcUpAndRight,
boxLightDiagonalUpperRightToLowerLeft,
boxLightDiagonalUpperLeftToLowerRight,
boxLightDiagonalCross,
boxLightLeft,
boxLightUp,
boxLightRight,
boxLightDown,
boxHeavyLeft,
boxHeavyUp,
boxHeavyRight,
boxHeavyDown,
boxLightLeftAndHeavyRight,
boxLightUpAndHeavyDown,
boxHeavyLeftAndLightRight,
boxHeavyUpAndLightDown,
upperHalfBlock,
lowerOneEighthBlock,
lowerOneQuarterBlock,
lowerThreeEighthsBlock,
lowerHalfBlock,
lowerFiveEighthsBlock,
lowerThreeQuartersBlock,
lowerSevenEighthsBlock,
fullBlock,
leftSevenEighthsBlock,
leftThreeQuartersBlock,
leftFiveEighthsBlock,
leftBlock,
leftThreeEighthsBlock,
leftOneQuarterBlock,
leftOneEighthBlock,
rightBlock,
shadelight,
shademedium,
shadedark,
upperOneEighthBlock,
rightOneEighthBlock,
lowerLeftBlock,
lowerRightBlock,
upperLeftBlock,
upperLeftAndLowerLeftAndLowerRightBlock,
upperLeftAndLowerRightBlock,
upperLeftAndUpperRightAndLowerLeftBlock,
upperLeftAndUpperRightAndLowerRightBlock,
upperRightBlock,
upperRightAndLowerLeftBlock,
upperRightAndLowerLeftAndLowerRightBlock,
Agrave,
Aacute,
Acircumflex,
Atilde,
Amacron,
Adieresis,
Aring,
AE,
AEacute,
Abreve,
Aogonek,
Adotbelow,
Ahookabove,
Acircumflexacute,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Acircumflexdotbelow,
Abreveacute,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Abrevedotbelow,
Bhook,
Ccedilla,
Cacute,
Cdotaccent,
Ccaron,
Dcaron,
Dcroat,
Dhook,
DZcaron,
Dzcaron,
Egrave,
Eacute,
Ecircumflex,
Edieresis,
Emacron,
Edotaccent,
Eogonek,
Ecaron,
Edotbelow,
Ehookabove,
Etilde,
Ecircumflexacute,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Ecircumflexdotbelow,
Eth,
Eng,
Eng.loclNSM,
Gbreve,
Gdotaccent,
Gcommaaccent,
Hbar,
Igrave,
Iacute,
Icircumflex,
Imacron,
Idieresis,
Iogonek,
Idotaccent,
IJ,
IJacute,
Itilde,
Ihookabove,
Idotbelow,
Kcommaaccent,
Khook,
Lacute,
Lcaron,
Lcommaaccent,
Lslash,
Ldot,
LJ,
Lj,
Ngrave,
Ntilde,
Nacute,
Ndotaccent,
Ncaron,
Ncommaaccent,
NJ,
Nj,
Ograve,
Oacute,
Ocircumflex,
Otilde,
Omacron,
Odieresis,
Oslash,
Ohungarumlaut,
Oogonek,
OE,
Odotbelow,
Ohookabove,
Ocircumflexacute,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Ocircumflexdotbelow,
Ohorn,
Ohornacute,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohorndotbelow,
Racute,
Rcaron,
Sacute,
Scedilla,
Scaron,
Scommaaccent,
Sdotbelow,
Germandbls,
Schwa,
Tcedilla,
Tcaron,
Tcommaaccent,
Thorn,
Ugrave,
Uacute,
Ucircumflex,
Udieresis,
Umacron,
Uring,
Uhungarumlaut,
Uogonek,
Utilde,
Udotbelow,
Uhookabove,
Uhorn,
Uhornacute,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhorndotbelow,
Wgrave,
Wacute,
Wcircumflex,
Wdieresis,
Ygrave,
Yacute,
Ycircumflex,
Ydieresis,
Ydotbelow,
Yhookabove,
Ytilde,
Yhook,
Zacute,
Zdotaccent,
Zcaron,
agrave,
aacute,
acircumflex,
atilde,
amacron,
adieresis,
aring,
ae,
aeacute,
abreve,
aogonek,
adotbelow,
ahookabove,
acircumflexacute,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
acircumflexdotbelow,
abreveacute,
abrevegrave,
abrevehookabove,
abrevetilde,
abrevedotbelow,
bhook,
ccedilla,
cacute,
cdotaccent,
ccaron,
dcaron,
dcroat,
dhook,
dzcaron,
egrave,
eacute,
ecircumflex,
edieresis,
emacron,
edotaccent,
eogonek,
ecaron,
edotbelow,
ehookabove,
etilde,
ecircumflexacute,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
ecircumflexdotbelow,
eth,
eng,
gbreve,
gdotaccent,
gcommaaccent,
hbar,
igrave,
iacute,
icircumflex,
imacron,
idieresis,
iogonek,
idotless,
ij,
ijacute,
itilde,
ihookabove,
idotbelow,
jdotless,
kcommaaccent,
khook,
kgreenlandic,
lacute,
lcaron,
lcommaaccent,
lslash,
ldot,
lj,
ngrave,
ntilde,
nacute,
ndotaccent,
ncaron,
ncommaaccent,
napostrophe,
nj,
ograve,
oacute,
ocircumflex,
otilde,
omacron,
odieresis,
oslash,
ohungarumlaut,
oogonek,
oe,
odotbelow,
ohookabove,
ocircumflexacute,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
ocircumflexdotbelow,
ohorn,
ohornacute,
ohorngrave,
ohornhookabove,
ohorntilde,
ohorndotbelow,
racute,
rcaron,
germandbls,
sacute,
scedilla,
scaron,
longs,
scommaaccent,
sdotbelow,
schwa,
tcedilla,
tcaron,
tcommaaccent,
thorn,
ugrave,
uacute,
ucircumflex,
udieresis,
umacron,
uring,
uhungarumlaut,
uogonek,
utilde,
udotbelow,
uhookabove,
uhorn,
uhornacute,
uhorngrave,
uhornhookabove,
uhorntilde,
uhorndotbelow,
wgrave,
wacute,
wcircumflex,
wdieresis,
ygrave,
yacute,
ycircumflex,
ydieresis,
ydotbelow,
yhookabove,
ytilde,
yhook,
zacute,
zdotaccent,
zcaron,
gravecomb,
acutecomb,
circumflexcomb,
tildecomb,
macroncomb,
brevecomb,
dotaccentcomb,
dieresiscomb,
ringcomb,
hungarumlautcomb,
caroncomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
hookabovecomb,
commaturnedabovecomb,
horncomb,
dotbelowcomb,
periodcentered,
apostrophemod,
circumflexcomb_gravecomb,
circumflexcomb_acutecomb,
circumflexcomb_tildecomb,
circumflexcomb_hookabovecomb,
brevecomb_gravecomb,
brevecomb_acutecomb,
brevecomb_tildecomb,
brevecomb_hookabovecomb,
commaturnedmod,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
exclamdown,
questiondown,
dong,
Ohorn.alt,
Uhorn.alt,
Uhorn.alt02,
ohorn.alt,
uhorn.alt,
ordfeminine,
ordmasculine,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
onehalf,
onequarter,
threequarters,
cent,
euro,
sterling,
yen,
currency,
quotesinglbase,
quotedblbase,
bullet,
endash,
emdash,
guillemetleft,
guillemetright
)