{
displayStrings = (
"
__Letter:
nnooraroonn
nnoorbroonn
nnoorcroonn
nnoordroonn
nnooreroonn
nnoorfroonn
nnoorgroonn
nnoorhroonn
nnooriroonn
nnoorjroonn
nnoorkroonn
nnoorlroonn
nnoormroonn
nnoornroonn
nnoororoonn
nnoorproonn
nnoorqroonn
nnoorrroonn
nnoorsroonn
nnoortroonn
nnooruroonn
nnoorvroonn
nnoorwroonn
nnoorxroonn
nnooryroonn
nnoorzroonn

__Punctuation:
nnoor#roonn HH#HH
nnoor*roonn HH*HH
nnoor(roonn HH(HH
nnoor)roonn HH)HH
nnoor{roonn HH{HH
nnoor}roonn HH}HH
nnoor'roonn HH'HH
nnoor’roonn HH’HH
nnoor‘roonn HH‘HH
nnoor,roonn HH,HH
nnoor.roonn HH.HH
nnoor:roonn HH:HH
nnoor;roonn HH;HH
nnoor?roonn HH?HH
nnoor!roonn HH!HH
nnoor//roonn HH//HH
nnoor/backslash roonn HH/backslash HH
nnoor[roonn HH[HH
nnoor]roonn HH]HH
nnoor-roonn HH-HH
nnoor_roonn HH_HH

__Symbol:
nnoor$roonn HH$HH
nnoor%roonn HH%HH
nnoor&roonn HH&HH
nnoor@roonn HH@HH"
);
}
