<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1AFD7210-9465-4A67-9109-4F9A349F35BA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcroat</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
