<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1482C79A-63C7-47E1-8057-819C34A88152</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Schwa</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
