<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>019C2AA3-784E-4A4F-8B80-2330ED7140A4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
