<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>131C4946-1154-4606-86F1-D96D93E5EA2D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dcaron</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tcaron</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
