<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FC0B0616-92C2-4D51-8378-C5C104088F7A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.onehalf</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter</key>
      <integer>5</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
