<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B8F16D7D-F8E0-4AA5-B433-FC090CF454A4</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn</key>
      <integer>11</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn.alt</key>
      <integer>14</integer>
    </dict>
  </dict>
</plist>
