<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>01686C4B-1AF3-4FFE-B75A-AA25CC5595A0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.oslash</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
