<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2176525B-340B-46B3-AB7B-51B18FF3C9DC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.onequarter</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.threequarters</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
