<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>190B06E2-FD91-4971-93C3-7C60A50F6760</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cent</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
