<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>11 Nov 24, 09:39</string>
      <string>glyphs.11 N_ov 24, 09_39</string>
    </array>
    <array>
      <string>intermediate_Q</string>
      <string>glyphs.intermediate_Q_</string>
    </array>
    <array>
      <string>19 Sep 24, 20:23</string>
      <string>glyphs.19 S_ep 24, 20_23</string>
    </array>
    <array>
      <string>10 Oct 24, 23:36</string>
      <string>glyphs.10 O_ct 24, 23_36</string>
    </array>
    <array>
      <string>27 Nov 24, 13:46</string>
      <string>glyphs.27 N_ov 24, 13_46</string>
    </array>
    <array>
      <string>21 Oct 24, 18:54</string>
      <string>glyphs.21 O_ct 24, 18_54</string>
    </array>
    <array>
      <string>Mar 14, 25 at 12:53</string>
      <string>glyphs.M_ar 14, 25 at 12_53</string>
    </array>
    <array>
      <string>Mar 14, 25 at 12:53.background</string>
      <string>glyphs.M_ar 14, 25 at 12_53.background</string>
    </array>
    <array>
      <string>alternate</string>
      <string>glyphs.alternate</string>
    </array>
    <array>
      <string>11 Dec 24, 12:16</string>
      <string>glyphs.11 D_ec 24, 12_16</string>
    </array>
    <array>
      <string>4 Dec 24, 21:59</string>
      <string>glyphs.4 D_ec 24, 21_59</string>
    </array>
    <array>
      <string>4 Dec 24, 21:59.background</string>
      <string>glyphs.4 D_ec 24, 21_59.background</string>
    </array>
    <array>
      <string>22 Nov 24, 12:05</string>
      <string>glyphs.22 N_ov 24, 12_05</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:44</string>
      <string>glyphs.M_ar 19, 25 at 19_44</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:20</string>
      <string>glyphs.M_ar 19, 25 at 20_20</string>
    </array>
    <array>
      <string>Mar 11, 25 at 12:25</string>
      <string>glyphs.M_ar 11, 25 at 12_25</string>
    </array>
    <array>
      <string>Mar 11, 25 at 12:25.background</string>
      <string>glyphs.M_ar 11, 25 at 12_25.background</string>
    </array>
    <array>
      <string>Mar 11, 25 at 00:52</string>
      <string>glyphs.M_ar 11, 25 at 00_52</string>
    </array>
    <array>
      <string>Mar 11, 25 at 00:59</string>
      <string>glyphs.M_ar 11, 25 at 00_59</string>
    </array>
    <array>
      <string>30 Nov 24, 09:25</string>
      <string>glyphs.30 N_ov 24, 09_25</string>
    </array>
    <array>
      <string>30 Nov 24, 09:25.background</string>
      <string>glyphs.30 N_ov 24, 09_25.background</string>
    </array>
    <array>
      <string>30 Nov 24, 11:44</string>
      <string>glyphs.30 N_ov 24, 11_44</string>
    </array>
    <array>
      <string>30 Nov 24, 11:44.background</string>
      <string>glyphs.30 N_ov 24, 11_44.background</string>
    </array>
    <array>
      <string>Jan 24, 25 at 19:40</string>
      <string>glyphs.J_an 24, 25 at 19_40</string>
    </array>
    <array>
      <string>Jan 24, 25 at 19:40.background</string>
      <string>glyphs.J_an 24, 25 at 19_40.background</string>
    </array>
    <array>
      <string>29 Nov 24, 09:24</string>
      <string>glyphs.29 N_ov 24, 09_24</string>
    </array>
    <array>
      <string>29 Nov 24, 15:02</string>
      <string>glyphs.29 N_ov 24, 15_02</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:48</string>
      <string>glyphs.M_ar 19, 25 at 20_48</string>
    </array>
    <array>
      <string>Jan 24, 25 at 19:04</string>
      <string>glyphs.J_an 24, 25 at 19_04</string>
    </array>
    <array>
      <string>Mar 19, 25 at 18:54</string>
      <string>glyphs.M_ar 19, 25 at 18_54</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:21</string>
      <string>glyphs.M_ar 19, 25 at 19_21</string>
    </array>
    <array>
      <string>27 Nov 24, 15:08</string>
      <string>glyphs.27 N_ov 24, 15_08</string>
    </array>
    <array>
      <string>Jan 27, 25 at 18:18</string>
      <string>glyphs.J_an 27, 25 at 18_18</string>
    </array>
    <array>
      <string>Jan 27, 25 at 18:18.background</string>
      <string>glyphs.J_an 27, 25 at 18_18.background</string>
    </array>
    <array>
      <string>Mar 19, 25 at 18:43</string>
      <string>glyphs.M_ar 19, 25 at 18_43</string>
    </array>
    <array>
      <string>Feb 17, 25 at 12:55</string>
      <string>glyphs.F_eb 17, 25 at 12_55</string>
    </array>
    <array>
      <string>Feb 17, 25 at 12:55.background</string>
      <string>glyphs.F_eb 17, 25 at 12_55.background</string>
    </array>
    <array>
      <string>Feb 17, 25 at 13:18</string>
      <string>glyphs.F_eb 17, 25 at 13_18</string>
    </array>
    <array>
      <string>Feb 17, 25 at 13:18.background</string>
      <string>glyphs.F_eb 17, 25 at 13_18.background</string>
    </array>
    <array>
      <string>Feb 20, 25 at 16:32</string>
      <string>glyphs.F_eb 20, 25 at 16_32</string>
    </array>
    <array>
      <string>Feb 20, 25 at 16:32.background</string>
      <string>glyphs.F_eb 20, 25 at 16_32.background</string>
    </array>
    <array>
      <string>Feb 27, 25 at 13:40</string>
      <string>glyphs.F_eb 27, 25 at 13_40</string>
    </array>
    <array>
      <string>Feb 27, 25 at 13:40.background</string>
      <string>glyphs.F_eb 27, 25 at 13_40.background</string>
    </array>
    <array>
      <string>5 Dec 24, 14:15</string>
      <string>glyphs.5 D_ec 24, 14_15</string>
    </array>
    <array>
      <string>5 Dec 24, 14:15.background</string>
      <string>glyphs.5 D_ec 24, 14_15.background</string>
    </array>
    <array>
      <string>5 Dec 24, 13:52</string>
      <string>glyphs.5 D_ec 24, 13_52</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:29</string>
      <string>glyphs.M_ar 19, 25 at 19_29</string>
    </array>
    <array>
      <string>30 Nov 24, 08:39</string>
      <string>glyphs.30 N_ov 24, 08_39</string>
    </array>
    <array>
      <string>30 Nov 24, 08:39.background</string>
      <string>glyphs.30 N_ov 24, 08_39.background</string>
    </array>
    <array>
      <string>30 Nov 24, 08:59</string>
      <string>glyphs.30 N_ov 24, 08_59</string>
    </array>
    <array>
      <string>30 Nov 24, 08:59.background</string>
      <string>glyphs.30 N_ov 24, 08_59.background</string>
    </array>
    <array>
      <string>Jan 24, 25 at 20:04</string>
      <string>glyphs.J_an 24, 25 at 20_04</string>
    </array>
    <array>
      <string>29 Nov 24, 10:15</string>
      <string>glyphs.29 N_ov 24, 10_15</string>
    </array>
    <array>
      <string>2 Dec 24, 18:09</string>
      <string>glyphs.2 D_ec 24, 18_09</string>
    </array>
    <array>
      <string>Mar 19, 25 at 20:28</string>
      <string>glyphs.M_ar 19, 25 at 20_28</string>
    </array>
    <array>
      <string>Jan 22, 25 at 20:41</string>
      <string>glyphs.J_an 22, 25 at 20_41</string>
    </array>
    <array>
      <string>Mar 19, 25 at 19:07</string>
      <string>glyphs.M_ar 19, 25 at 19_07</string>
    </array>
    <array>
      <string>Jan 20, 25 at 14:05</string>
      <string>glyphs.J_an 20, 25 at 14_05</string>
    </array>
    <array>
      <string>Jan 20, 25 at 14:40</string>
      <string>glyphs.J_an 20, 25 at 14_40</string>
    </array>
    <array>
      <string>Feb 24, 25 at 17:32</string>
      <string>glyphs.F_eb 24, 25 at 17_32</string>
    </array>
    <array>
      <string>Jan 21, 25 at 15:44</string>
      <string>glyphs.J_an 21, 25 at 15_44</string>
    </array>
    <array>
      <string>Jan 22, 25 at 19:33</string>
      <string>glyphs.J_an 22, 25 at 19_33</string>
    </array>
    <array>
      <string>Feb 24, 25 at 17:36</string>
      <string>glyphs.F_eb 24, 25 at 17_36</string>
    </array>
    <array>
      <string>Jan 22, 25 at 20:02</string>
      <string>glyphs.J_an 22, 25 at 20_02</string>
    </array>
    <array>
      <string>Jan 21, 25 at 17:54</string>
      <string>glyphs.J_an 21, 25 at 17_54</string>
    </array>
    <array>
      <string>Jan 21, 25 at 17:54.background</string>
      <string>glyphs.J_an 21, 25 at 17_54.background</string>
    </array>
    <array>
      <string>Jan 22, 25 at 20:14</string>
      <string>glyphs.J_an 22, 25 at 20_14</string>
    </array>
    <array>
      <string>Feb 24, 25 at 17:41</string>
      <string>glyphs.F_eb 24, 25 at 17_41</string>
    </array>
    <array>
      <string>Feb 24, 25 at 18:15</string>
      <string>glyphs.F_eb 24, 25 at 18_15</string>
    </array>
    <array>
      <string>Feb 24, 25 at 18:34</string>
      <string>glyphs.F_eb 24, 25 at 18_34</string>
    </array>
    <array>
      <string>Feb 24, 25 at 18:53</string>
      <string>glyphs.F_eb 24, 25 at 18_53</string>
    </array>
    <array>
      <string>Apr 7, 25 at 17:55</string>
      <string>glyphs.A_pr 7, 25 at 17_55</string>
    </array>
    <array>
      <string>Apr 7, 25 at 17:55.background</string>
      <string>glyphs.A_pr 7, 25 at 17_55.background</string>
    </array>
    <array>
      <string>Mar 19, 25 at 16:11</string>
      <string>glyphs.M_ar 19, 25 at 16_11</string>
    </array>
    <array>
      <string>Apr 1, 25 at 14:52</string>
      <string>glyphs.A_pr 1, 25 at 14_52</string>
    </array>
    <array>
      <string>Apr 1, 25 at 14:52.background</string>
      <string>glyphs.A_pr 1, 25 at 14_52.background</string>
    </array>
    <array>
      <string>Apr 1, 25 at 15:07</string>
      <string>glyphs.A_pr 1, 25 at 15_07</string>
    </array>
    <array>
      <string>Apr 1, 25 at 15:07.background</string>
      <string>glyphs.A_pr 1, 25 at 15_07.background</string>
    </array>
    <array>
      <string>Light Italic Proportional</string>
      <string>glyphs.L_ight I_talic P_roportional</string>
    </array>
    <array>
      <string>Italic Proportional</string>
      <string>glyphs.I_talic P_roportional</string>
    </array>
    <array>
      <string>Bold Italic Proportional</string>
      <string>glyphs.B_old I_talic P_roportional</string>
    </array>
    <array>
      <string>ExtraBold Italic Proportional</string>
      <string>glyphs.E_xtraB_old I_talic P_roportional</string>
    </array>
  </array>
</plist>
