<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>841400DA-1C63-44F2-9DCE-8BB97EDE82ED</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
