<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D43E843F-9C0A-4B88-BD59-659838710FE6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>12</integer>
    </dict>
  </dict>
</plist>
