<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>06ED526B-0446-4994-8F51-B64225E39B80</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.shademedium</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
