<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B2D5CC8C-D842-444C-B4A6-22082241C62B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.braceright</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
