<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E69AF668-1F70-4C3F-93D8-C4217111A2BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
