<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>63F5A6A0-0237-4394-A0FE-B5BBF6E28812</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzcaron</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
