<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1DFFDDAA-6FEC-4FD2-9D06-6D668448635F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.c</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
