<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>189AAC1D-6081-4D12-B6D7-12765446E156</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.acutecomb</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.gravecomb</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
