<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B90A5D80-E6DD-4D8D-91C6-C64D2D3CCDD0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dzcaron</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
