<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5B0BBA8E-024F-4EA0-B5DC-EAD1D9366B2E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
