<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CBA6C314-B3B2-4B53-9719-89470CA5C44C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.eth</key>
      <integer>20</integer>
    </dict>
  </dict>
</plist>
