<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>84D70FF9-5004-4C2E-BF2F-2E1DEF155B9F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yhook</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
