<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D07D3AF9-B2D0-4703-867E-85F3169085CD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>17</integer>
    </dict>
  </dict>
</plist>
