<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EC8BD356-0243-4232-8957-9EA685D6F548</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dhook</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
