<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B4EAC3B4-ABCE-407D-A520-5B17BC67115A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.DZcaron</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
