<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8291B9B6-9E8A-40A9-9BDF-13423ACACAAB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
