<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0513BC64-3126-41E0-B9DA-95A1AD27D080</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
