<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>EF7D3268-B690-4C17-ABD0-9AF7E358F33B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.DZcaron</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
