<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C016148-D9D7-4F44-86F9-66EFA6658A6C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.sterling</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
