<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>26BFE906-9AB9-45F7-975A-98C039329C44</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.d</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
