<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8C172977-B910-461A-B17E-A6DD30E01FAF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.at</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
