<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>95896CE0-6FBF-4F9B-BD35-F7722CC88E46</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
