<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>54098A39-843A-4F58-BA29-0BE223181573</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Bhook</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
