<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>11CAC793-2C2C-4DD7-82A5-97512656EB8B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Germandbls</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
