<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>46481404-5B34-4574-BB3E-A79F642F2BB0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Uhorn.alt</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
