<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A4FC32D8-7240-48F3-9614-E8AC1E88F18D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn.alt</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
