<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>999669C3-7084-48AE-8124-3974813704D9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.LJ</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
