<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>29DFF1D5-E273-43E5-AB47-0BA70800C7FB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.lcaron</key>
      <integer>11</integer>
    </dict>
  </dict>
</plist>
