<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>41BDAED2-9198-496D-91AF-638DE43D4210</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.less</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
