<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AF49C1F5-4F63-46A2-ABB6-7252CB6CE1C9</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
