<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A53A8168-D7EE-4536-83F4-D85577F0FD82</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Ohorn.alt</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
