<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>5770BB73-07FD-466B-91AB-81C8B3A8D07B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ijacute</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
