<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>15E61327-3067-479E-8815-A91770FE625E</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.percent</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
