<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>51E123B9-AC02-429A-B272-90FB1C8254F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>15</integer>
    </dict>
  </dict>
</plist>
