<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3E24B529-B7BE-480A-9144-0CB94D6A0E70</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Yhook</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
