<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD5468A7-6975-400C-9486-87848799FC8F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.exclam</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
