<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4F23A095-B6E0-48C9-8A81-CAABDC4C561A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn</key>
      <integer>7</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.ohorn.alt</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
