<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>75D9E12C-FE39-4C24-9679-CE9BC2954F51</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.y</key>
      <integer>10</integer>
    </dict>
  </dict>
</plist>
