<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>FEE1AA6D-B72B-4053-BA0E-76FF1740483B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.copyright</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
