<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B138F5B6-B01A-413B-909D-6E2618A67654</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.v</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
