<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>10E2EB1C-2BD9-4C01-90A8-8B893BBAAFAB</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.two</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
