<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A99B254F-816C-4CC5-8E8F-31112B664A57</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.OE</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
