<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BED4373B-B575-4C79-945E-3CFABB8D4D57</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.circumflexcomb_tildecomb</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
