<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>3F3B9F7B-614B-4C4D-A40B-9E3F87A7B54A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>13</integer>
    </dict>
  </dict>
</plist>
