<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Khook</key>
    <string>K_hook.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>Ohorn.alt</key>
    <string>O_horn.alt.glif</string>
    <key>Ohornacute</key>
    <string>O_hornacute.glif</string>
    <key>Ohorngrave</key>
    <string>O_horngrave.glif</string>
    <key>Ohornhookabove</key>
    <string>O_hornhookabove.glif</string>
    <key>Ohorntilde</key>
    <string>O_horntilde.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>Uhorn.alt</key>
    <string>U_horn.alt.glif</string>
    <key>Uhornacute</key>
    <string>U_hornacute.glif</string>
    <key>Uhorngrave</key>
    <string>U_horngrave.glif</string>
    <key>Uhornhookabove</key>
    <string>U_hornhookabove.glif</string>
    <key>Uhorntilde</key>
    <string>U_horntilde.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>brevecomb_tildecomb</key>
    <string>brevecomb_tildecomb.glif</string>
    <key>circumflexcomb_acutecomb</key>
    <string>circumflexcomb_acutecomb.glif</string>
    <key>circumflexcomb_gravecomb</key>
    <string>circumflexcomb_gravecomb.glif</string>
    <key>circumflexcomb_tildecomb</key>
    <string>circumflexcomb_tildecomb.glif</string>
    <key>divisionslash</key>
    <string>divisionslash.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>ij</key>
    <string>ij.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>jdotless</key>
    <string>jdotless.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>napostrophe</key>
    <string>napostrophe.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>ohorn.alt</key>
    <string>ohorn.alt.glif</string>
    <key>ohornacute</key>
    <string>ohornacute.glif</string>
    <key>ohorngrave</key>
    <string>ohorngrave.glif</string>
    <key>ohornhookabove</key>
    <string>ohornhookabove.glif</string>
    <key>ohorntilde</key>
    <string>ohorntilde.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>shadedark</key>
    <string>shadedark.glif</string>
    <key>shadelight</key>
    <string>shadelight.glif</string>
    <key>tcedilla</key>
    <string>tcedilla.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>uhorn.alt</key>
    <string>uhorn.alt.glif</string>
    <key>uhornacute</key>
    <string>uhornacute.glif</string>
    <key>uhorngrave</key>
    <string>uhorngrave.glif</string>
    <key>uhornhookabove</key>
    <string>uhornhookabove.glif</string>
    <key>uhorntilde</key>
    <string>uhorntilde.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>y</key>
    <string>y.glif</string>
  </dict>
</plist>
