<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>90CAA1CF-38DA-4013-92C1-E68125BFA875</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E6</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E7</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E8</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni21E9</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
