<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>38EBF31E-9E08-42CC-9C42-C1E19FC28DEF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.five</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
