<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>534B0902-CBBC-4C9E-982C-1D27D431FC3D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.LJ</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
