<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9E32EA6C-DFE9-4D89-B10B-7BF426DCA6B6</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.khook</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
