<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0225369E-A6C0-4A86-9708-C63A936CC419</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Dhook</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
