<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E2A853F3-4A83-4F56-BDFD-699F269DA538</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.brevecomb_gravecomb</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
